.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; // S'assure que le contenu occupe toute la hauteur de la fenêtre
  padding-top: 45px;
  background-color: $background-color;
  gap: 50px;
}
