.footer {
  display: flex;
  flex-direction: column;
  height: 209px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  background-color: black;
  gap: 50px;

  p {
    color: white;
  }
}
