.navbar {
  display: flex;
  max-width: 1240px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $background-color;

  img {
    height: 68px;
  }

  nav {
    display: flex;
    gap: 57px;

    a {
      font-size: 1.5rem;
      color: $text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}
