.navbar {
  display: flex;
  max-width: 1240px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: $background-color;

  img {
    width: 210px;
  }

  nav {
    display: flex;
    gap: 57px;

    a {
      font-size: 1.5rem;
      color: $text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-top: 0;
    margin-bottom: 0;
    img {
      width: 145px;
    }

    nav {
      gap: 26px;
      a {
        font-size: 12px;
      }
    }
  }
}
