.location {
  @include flex-center;
  width: 100%;
  flex-direction: column;
  padding: 1rem 20px;

  .infos {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .location-infos {
      width: 100%;
      max-width: 1240px;
      display: flex;
      flex-direction: column;

      h1 {
        color: $primary-color;
        font-weight: 500;
        font-size: 36px;
      }
      h2 {
        font-weight: 500;
        font-size: 18px;
      }

      .location-tags {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        .location-tag {
          @include flex-center;
          min-width: 115px;
          padding: 0 10px;
          height: 25px;
          font-size: 14px;
          font-weight: 600;
          background-color: $primary-color;
          color: white;
          border-radius: 10px;
        }
      }
    }

    .profile-infos {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .profile-view {
        display: flex;
        gap: 20px;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 18px;
          text-align: end;
          color: $primary-color;
        }

        img {
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .profile-rating {
        display: flex;
        width: 100%;
      }
    }
  }

  .location-collapses {
    display: flex;
    width: 100%;
    max-width: 1240px;
    gap: 76px;
  }
}

@media (max-width: 1024px) {
  .location {
    .infos {
      flex-wrap: wrap;

      .profile-infos {
        flex-direction: row-reverse;
        width: 100%;
      }
    }
    .location-collapses {
      flex-direction: column;
      gap: 20px;

      .collapse-header {
        height: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .location {
    .infos {
      .location-infos {
        gap: 5px;
        h1 {
          font-size: 18px;
        }

        h2 {
          font-size: 14px;
        }

        .location-tags {
          margin-top: 0;
          .location-tag {
            min-width: 84px;
            font-size: 10px;
            height: 18px;
            padding: 0 5px;
          }
        }
      }

      .profile-infos {
        margin-top: 20px;
        .profile-view {
          gap: 10px;
          p {
            font-size: 12px;
          }

          img {
            width: 32px;
            height: 32px;
          }
        }

        .profile-rating {
          display: flex;
          width: 100%;
          svg {
            width: 24px;
          }
        }
      }
    }
  }
}
